@charset "utf-8";
/* CSS Document */
body {
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    font-family: Arial, 'Helvetica', sans-serif !important;
}

a {
    color: #2a85e8;
    text-decoration: none;
}

    a:hover {
        color: #cc4714;
        text-decoration: none;
    }

.container {
    max-width: 800px;
}

header {
    background-color: #0054A6;
}

.confirmLeft h1 {
    margin-top: 0;
}

.confId {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.confDtl table tr td {
    border: none;
}

/*Media css*/

@media screen and (max-width: 320px) {
    .xsTop10 {
        margin-top: 10px;
    }
}

@media screen and (max-width: 360px) {
    .widthSmallFull {
        width: 100%;
    }
}

@media screen and (max-width: 414px) {
    .confirmLeft h1 {
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width:767px) {
    ::-webkit-input-placeholder {
        color: #fff !important;
    }

    :-moz-placeholder {
        color: #fff !important;
    }

    ::-moz-placeholder {
        color: #fff !important;
    }

    ::-ms-input-placeholder {
        color: #fff !important;
    }

    .rightPaddingSmallOff {
        padding-right: 0;
    }

    .paddingLRoffSm {
        padding-left: 0;
        padding-right: 0;
    }

    .smallMarginTopBot {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .smallMarginTop5 {
        margin-top: 5px;
    }

    .smallMarginTop10 {
        margin-top: 10px;
    }

    .smallMarginTop20 {
        margin-top: 20px;
    }

    .smallMarginBottom5 {
        margin-bottom: 5px;
    }

    .smallMarginBottom10 {
        margin-bottom: 10px;
    }

    .smallMarginBottom20 {
        margin-bottom: 20px;
    }

    .noLeftPaddingSmall {
        padding-left: 0;
    }

    .noRightPaddingSmall {
        padding-right: 0;
    }

    .noMarginBottomSmall {
        margin-bottom: 0;
    }

    .customPad {
        padding: 0;
    }

    .hideSmall {
        display: none;
    }

    .centerSmall {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .noPaddingLRbig {
        padding-left: 0;
        padding-right: 0;
    }

    .hideBig {
        display: none;
    }

    .absoluteBig {
        position: absolute;
    }

    .marginTopLg30 {
        margin-top: 30px;
    }

    .controllForm .form-group label {
        display: none;
    }
}
