@charset "utf-8";
/* CSS Document */

.preetyphotoControl ul{list-style-type:none; padding-left:0; width:100%; margin-bottom:0;}
.preetyphotoControl ul li{display:inline; float:left; margin-right:10px;}
.preetyphotoControl ul li:last-child{float:right; margin-right:0;}
.preetyphotoControl img{vertical-align:middle;}
.preetyphotoControl .num{vertical-align:middle; display:inline;}

.prityPhotoContainer{max-height:500px;}
.prityPhotoImageContainer img{max-height:450px; width:100%;}

.prityPhotoContainer .carousel-control{width:auto;}
.prityPhotoContainer .carousel-control{margin-top:40%;}

.adjH img, .num{margin-top:4px;}
.num{position:absolute;}

@media only screen and (min-width : 480px) and (max-width : 800px) and (orientation:landscape){
	.prityPhotoContainer{max-height:400px;}
	.prityPhotoImageContainer img{max-height:350px; width:100%;}
	.prityPhotoContainer .carousel-control{margin-top:30%;}
}