@charset "utf-8";
/* CSS Document */

@import url(font-awesome.css);
@import url(common.css);
@import url(media.css);

body{background-color: #fff; -webkit-font-smoothing:antialiased; overflow-x:hidden; font-family:Arial, 'Helvetica', sans-serif !important;}

a{color:#2a85e8; text-decoration:none;}
a:hover{color:#cc4714; text-decoration:none;}

.container{max-width:800px;}
header{background-color:#0054A6;}

.confirmLeft h1{margin-top:0;}
.confId{border-bottom:1px solid #ccc; padding-bottom:10px;}
.confDtl table tr td{border:none;}

