<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <add key="SQLConn" value="sandvikusa" />
    <add key="connString" value="sandvikusa" />
    <add key="AS400Conn" value="DSN=as400;UID=c50sri;PWD=m62y6" />
    <add key="default_division" value="016881" />
    <add key="division" value="016881" />
    <add key="defaultMID" value="7136859" />
    <add key="defaultReportGroup" value="EarlyMomentsClubs" />
    <add key="SDMerchantContact" value="8003533140" />
    <!--add key="as400request_url" value="http://146.192.208.177:9522"/-->
    <add key="as400request_url" value="http://backoffice:9522" />
    <add key="as400request_proj" value="BRU" />
    <add key="Source" value="EMI" />
    <add key="Country" value="USA" />
    <add key="SMTPConn" value="localhost" />
    <add key="err_em_from" value="error@sandviks.com" />
    <add key="err_em_to" value="smadishetti@sandviks.com" />
    <add key="err_em_to_mkting" value="rmanger@sandviks.com, lauren.crowley@sandviks.com, lmoore@sandviks.com" />
    <add key="err_em_to_ops" value="bbarsczewski@sandviks.com, " />
    <add key="err_em_to_custserv" value="pregan@sandviks.com" />
    <add key="err_em_subj" value="EMS Landing Pages" />
    <add key="MasterControllerPath" value="C:\Program Files\Sandvik\Assemblies\MasterController.xml" />
    <add key="license_key" value="SnoToFVbuk54" />
    <add key="requested_type" value="standard" />
    <add key="validator_dedupe" value="true" />
    <add key="iservice" value="https://iservices.earlymoments.com/" />
    <!--add key="iservice" value="http://beta.iservices.earlymoments.com/"/-->
    <add key="service_token" value="7C3517D7-960F-40E9-ABF1-9050F3A6CED2" />
    <!--add key="iservice" value="http://localhost:53876/"/-->
    <add key="order_hold_time_minutes" value="10" />
    <add key="PrePopCheck" value="true" />
    <add key="getCustProduct_TestDB" value="N" />
    <add key="useDearFieldTestData" value="N" />
    <add key="AppId-PRODUCTION" value="1f8198b6-0421-4e86-ae92-3b1b82019f6a" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
