@charset "utf-8";
/* CSS Document */

body{background-color:#b0e0fd; margin:0; padding:0; font: normal 15px/18px Arial, Helvetica, sans-serif;}
.masterContainer{width:1000px; margin: 0 auto;}
.bodyContainer{width:960px; margin: 0 auto; background:#fff; padding-bottom:20px; float:left; margin-left:20px; margin-bottom:20px;}

.leftCol{width:580px;}
.rightCol{width:380px;}

.imgLeft1 img{margin-top:-35px; position:relative;}
.leftCol h1{font-family: 'ArialRoundedMTBoldBold'; color:#0397D6; margin:0 0 0 30px; letter-spacing:-2px; font-size:30px;}
.leftCol li{list-style-image:url(/images/Bye/Payment_Five_95/bullet.gif); font-size:14px; line-height:18px; margin:8px 75px 0 20px;}
.easy123 img{margin-left:-20px; margin-top:-100px; position:relative; z-index:9;}
/*.rightCol p{margin:0;}*/
.step1 img{margin-top:-4px;}
.formContainer{width:408px; background:url(/images/Bye/Payment_Five_95/form_slice.png) repeat-y; position:relative; margin-top:0;}
.formBody{padding:15px 40px 1px 25px; font-size:12px;}
/*.formLabel{text-align:right; padding-right:0;}
.formLabel label{font-weight:normal;}
.formBody span{color:#f00;}
.formBody .form-control{height:28px; font-size:11px;}
.childGender .input-group-addon{padding:2px 12px; background-color:transparent; border:none;}
.close{opacity:1;}
.submitButton{color:#fff;}
.input-group-addon{padding:5px 12px; background-color:#fff;}
.input-group-addon span{color:#000;}.phone .form-control:last-child, .childDob .form-control:last-child{margin-right:0;}*/
	
footer{width:960px; margin: 0 auto; margin-left:20px; margin-bottom:20px; text-align:center; font-size:12px;}

.orderSummary{padding:5px 15px 5px 50px;}
.orderSummary thead, .orderSummary tfoot{background-color:#00A99D; color:#fff;}
.orderSummary thead td, .orderSummary tfoot td{padding:3px 15px;}
.orderSummary tbody td{padding:4px 15px;}
.orderSummary tbody{background-color:#A5EAE7;}
.orderSummary table{border:1px solid #00a99d; font-size:12px;}

.leftBotBox{width:540px; padding-left:20px; padding-right:20px;}

.formContainer{font-size:12px; color:#000;}
.formContainer span{color:#f00;}
.formContainer .form-control{height:28px; font-size:11px; border-radius:0;}
.childGender .input-group-addon{padding:2px 12px; background-color:transparent; border:none;}
.close{opacity:1;}
.submitButton{color:#fff;}
.input-group-addon{padding:5px 12px; background-color:#fff;}
.input-group-addon span{color:#000;}
.formContainer label{font-weight:700;}
.formFieldGap{margin-bottom:10px;}
.cvv .input-group{width:113px;}
.cvv .input-group-addon{padding:2px 12px; background-color:transparent; border:none;}
.expDate select{height:28px;}
.showBillInfoRadio input[type=checkbox], input[type=radio]{margin: 2px 0 0;}
/*style start for click to view stepAgreementBox*/
#divViewTermsAndConditions{background:#c3c3c3; color:#000; padding:3px 5px; font-size:10px; cursor:pointer; margin-top:5px; text-align:center;}
.fieldset-membership{background-color:#fff; padding:10px;}
.stepAgreementBox{border:1px solid #333;}
.stepAgreementBox .scroll{height:80px; overflow: auto; font-size: 11px; line-height: 13px; margin-top: 5px; padding:0 10px 0 7px;}
.stepAgreementBox .tickAgree span{color:#f00;}
/*style end for click to view stepAgreementBox*/

.cvv{max-width:150px;}
.formLabel{text-align:right; padding-right:0;}
.adb label{font-size:11px;}
.aDb .form-control{width:30% !important;}
.aDb select{width:31% !important; padding:2px;}

