@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 320px){
	.xsTop10{margin-top:10px;}
	.phone input, .zip input, .chDob select{width:31% !important; display:inline;}
}

@media screen and (max-width: 360px){
	.widthSmallFull{width:100%;}
	.customMainContainer{margin-left:15px !important; margin-right:15px !important;}
	
	/*payment*/
	.aDb .form-control{width:30% !important;}
}

@media screen and (min-width:360px) and (max-width:767px){
	.phone input, .zip input, .chDob select{width:31% !important; display:inline;}
	.chDob select{padding:2px;}
}

@media screen and (max-width:767px){
	::-webkit-input-placeholder{color:#fff !important;}
	:-moz-placeholder{color:#fff !important;}
	::-moz-placeholder{color:#fff !important;}
	::-ms-input-placeholder{color:#fff !important;}
	.rightPaddingSmallOff{padding-right:0;}
	.paddingLRoffSm{padding-left:0; padding-right:0;}
	.smallMarginTopBot{margin-top:15px; margin-bottom:15px;}
	.smallMarginTop5{margin-top:5px;}
	.smallMarginTop10{margin-top:10px;}
	.smallMarginTop20{margin-top:20px;}
	.smallMarginBottom5{margin-bottom:5px;}
	.smallMarginBottom10{margin-bottom:10px;}
	.smallMarginBottom20{margin-bottom:20px;}
	.noLeftPaddingSmall{padding-left:0;}
	.noRightPaddingSmall{padding-right:0;}
	.noMarginBottomSmall{margin-bottom:0;}
	.customPad{padding:0;}
	.hideSmall{display:none;}
	.centerSmall{text-align:center;} /*added*/
	
	.customMainContainer{margin-left:20px; margin-right:20px; margin-top:20px; -webkit-border-radius:20px; -moz-border-radius:20px; border-radius:20px; -o-border-radius:20px; background-color:#F9FFA0 !important;border:3px solid #BED630; overflow:hidden; box-shadow:none !important;}
	.formContainer{margin-left:30px; margin-right:30px; margin-top:10px;}
	.formStep1,.formStep2{margin-left:7px; max-width:94%; margin-top:-8px;} /*margin-top:-12px to 8px;*/
	.formStep1Bg{background-color: #35C2DE; margin:0;}
	.formStep2Bg{background-color: #35C2DE; margin:0;}
	#headerImage{width:100%;}
	.rightFormDiv{background-color:#F9FFA0;}
	.orderForm label{margin-bottom:0;}
	.orderForm .form-control{margin-bottom:0;}
	#date-picker{margin-bottom:0;}
	
	.adjustMobileFormContainer .formLabel{text-align:right !important; padding-right:0; font-size:11px;}
	
	/*payment*/
	.formHeader{background-color:#BED630; text-align:center; -webkit-border-radius:20px 20px 0 0; -moz-border-radius:20px 20px 0 0; border-radius:20px 20px 0 0; -o-border-radius:20px 20px 0 0; overflow:hidden;}
	.aDb select{width:32% !important;}
	.aDb select{padding:2px; display:inline;}
	#headerImageLanding, #headerImagePayment{width:100%;}
	#headerImagePayment{display:none !important;}
	#paymentRight .rightFormDiv .formHeader{margin-top:-2px;}
	
}

@media screen and (min-width: 768px){
	.noPaddingLRbig{padding-left:0; padding-right:0;}
	.hideBig{display:none;}
	.absoluteBig{position:absolute;}
	.marginTopLg30{margin-top:30px;}
	.controllForm .form-group label{display:none;}
	
	.customMainContainer{width:700px;}
	.formContainer{padding-left:15px; padding-right:15px; padding-bottom:15px;}
	.formLabel{text-align:right; padding-right:0;}
	.heightAdjustLeft{margin:0; min-height:40px;}
	.submitButton{font-size:24px;}
	.submitButton i{font-size:24px; color:#fff !important;}
	
	.phone input, .zip input, .chDob select{width:31% !important;}
	.chDob select{padding:2px;}
	.leftImg1{width:101%;}
	
	/*payment*/
	.customMainContainer{-moz-box-shadow: 0 0 4px 4px #077E94; -webkit-box-shadow: 0 0 4px 4px #077E94; box-shadow: 0 0 4px 4px #077E94;}
	.rightCol{background:url(/images/seuss/4for1spring2/springformbkg.gif) no-repeat;}
	.formFieldGap{margin-bottom:8px;}
	.aDb select{width:32% !important;}
	.aDb select{padding:2px;}
}



@media screen and (min-width: 768px) and (max-width:991px){
	.rightFormDiv{position:relative; top:-24px; padding-right:15px;} /*position changed absolute to relative*/
	.formStep1, .formStep2{margin-left:-7px; top:-9px; position:relative; max-width:102.4%;}
	.orderForm{border-left:2px solid #BED630; border-right:2px solid #BED630; border-bottom:2px solid #BED630; background-color:#FCF5AD; width:100%; margin-left:0;}
	.leftBotImg{position:relative; z-index:9; left:-14px; max-width:108%;}
	.heightAdjustLeft{min-height:225px;}
	
	/*payment*/
	.orderSummery{margin-top:-150px; position:relative;}
}

@media only screen and (min-width : 480px) and (max-width : 800px) and (orientation:landscape){
	.customMainContainer{padding-bottom:40px !important;}
	.leftBotImg{position:relative; z-index:9; left:-13px; max-width:106%;}
	.heightAdjustLeft{min-height:225px;}
	.leftBotImg{position:relative; z-index:9; left:-13px; max-width:106%;}
}

@media screen and (min-width:992px){
	.customMainContainer{width:960px;}
	.formBgMain{position:relative; max-width:102%; left:-8px;}
	.rightFormDiv{position:relative; top:-34px; left:-8px;} /*position changed absolute to relative*/
	.formStep1, .formStep2{margin-left:-9px; top:-12px; position:relative; max-width:102.4%;}
	.orderForm{border-left:2px solid #BED630; border-right:2px solid #BED630; border-bottom:2px solid #BED630; background-color:#F9FFA0; width:95%; margin-left:0;}
	.leftBotImg{position:relative; z-index:9; left:-18px; top:-25px; max-width:108%;}
	
	/*payment*/
	.orderSummery{margin-top:-220px; position:relative;}
	.expDate select{width:35%;}	
}

@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation:portrait){
	.customMainContainer{padding-bottom:40px !important;}
	.leftBotImg{position:relative; z-index:9; left:-13px; max-width:106%;}
	.heightAdjustLeft{min-height:225px;}
	
	/*payment*/
	.aDb select{width:30% !important;}
}
