@charset "utf-8";
/* CSS Document */

.responsiveImg{max-width:100%; height:auto; border:none;}
.fl{float:left;}
.fr{float:right;}
.modal{padding-right:0 !important;}

.marginTop5{margin-top:5px;}
.marginTop10{margin-top:10px;}
.marginTop15{margin-top:15px;}
.marginTop20{margin-top:20px;}
.marginTop30{margin-top:30px;}
.marginTop40{margin-top:40px;}
.marginTop50{margin-top:50px;}
.marginTop60{margin-top:60px;}

.marginBot5{margin-bottom:5px;}
.marginBot10{margin-bottom:10px;}
.marginBot15{margin-bottom:15px;}
.marginBot20{margin-bottom:20px;}
.marginBot30{margin-bottom:30px;}
.marginBot40{margin-bottom:40px;}
.marginBot50{margin-bottom:50px;}
.marginBot60{margin-bottom:60px;}

.marginLeft5{margin-left:5px;}
.marginLeft10{margin-left:10px;}
.marginLeft20{margin-left:20px;}

.marginRight5{margin-right:5px;}
.marginRight10{margin-right:10px;}
.marginRight20{margin-right:20px;}

.noMargin{margin:0;}
.noMarginLR{margin-left:0; margin-right:0;}
.noMarginTB{margin-top:0; margin-bottom:0;}
.noMarginLeft{margin-left:0;}
.noMarginRight{margin-right:0;}
.noMarginTop{margin-top:0;}
.noMarginBottom{margin-bottom:0;}

.noPadding{padding:0;}
.noPaddingLR{padding-left:0; padding-right:0;}
.noPaddingTB{padding-top:0; padding-bottom:0;}
.noPaddingLeft{padding-left:0;}
.noPaddingRight{padding-right:0;}
.noPaddingTop{padding-top:0;}
.noPaddingBottom{padding-bottom:0;}

.border-solid{border-bottom:1px solid #999999; border-top:1px solid #999999;}
.border-dashed{border-bottom:1px dashed #999999; border-top:1px dashed #999999;}
.border-dotted{border-bottom:1px dotted #999999; border-top:1px dotted #999999;}

.roundedBorder{-webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; -o-border-radius:10px;}
.roundedBorderTop{-webkit-border-radius:10px 10px 0 0; -moz-border-radius:10px 10px 0 0; border-radius:10px 10px 0 0; -o-border-radius:10px 10px 0 0;}
.roundedBorderBottom{-webkit-border-radius:0 0 10px 10px; -moz-border-radius:0 0 10px 10px; border-radius:0 0 10px 10px; -o-border-radius:0 0 10px 10px;}
.roundedBorderLeft{-webkit-border-radius:10px 0 0 10px; -moz-border-radius:10px 0 0 10px; border-radius:10px 0 0 10px; -o-border-radius:10px 0 0 10px;}
.roundedBorderRight{-webkit-border-radius:0 10px 10px 0; -moz-border-radius:0 10px 10px 0; border-radius:0 10px 10px 0; -o-border-radius:0 10px 10px 0;}
.noBorderRadius{border-radius:0;}
.noBorder{border:none;}

.hand{cursor:pointer;}
.commonText{font-size:14px; line-height:18px; color:#666;}
.cap{text-transform:uppercase;}
.italic{font-style:italic;}
.underline{text-decoration:underline;}
.bold{font-weight:700;}
.noBold{font-weight:normal;}

.f10{font-size:10px;}
.f11{font-size:11px;}
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f15{font-size:15px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f22{font-size:22px;}
.f24{font-size:24px;}

.red{color:#f00;}
.blue{color:#215DA3;}
.white{color:#fff;}
.black{color:#000;}
.purple{color:#eb81a9;}
.grey{color:#999;}
.pink{color:#E20177;}
.yellow{color:#FBFF00;}

.bgWhite{background-color:#fff;}
.bglightYellow{background-color:#FCF5AD;}
.bgNone{background-color:transparent !important;}
.labelSkyBlue{background-color:#3498DB;}
.labelSkyRed{background-color:#E74C3C;}
.labelSkyYellow{background-color:#F1C40F;}
.labelSkyPurple{background-color:#9B6BCC;}
.labelSkyGreen{background-color:#2ECC71;}
.labelSkyDarkBlue{background-color:#4765A0;}

.twitter     {color:#00aced;}
.facebook    {color:#3b5998;}
.googleplus  {color:#dd4b39;}
.pinterest   {color:#cb2027;}
.linkedin    {color:#007bb6;}
.youtube     {color:#bb0000;}
.vimeo       {color:#aad450;}
.tumblr      {color:#32506d;}
.instagram   {color:#517fa4;}
.flickr      {color:#ff0084;}
.dribbble    {color:#ea4c89;}
.quora       {color:#a82400;}
.foursquare  {color:#0072b1;}
.forrst      {color:#5B9A68;}
.vk          {color:#45668e;}
.wordpress   {color:#21759b;}
.stumbleupon {color:#EB4823;}
.yahoo       {color:#7B0099;}
.blogger     {color:#fb8f3d;}
.soundcloud  {color:#ff3a00;}


.shadow{-webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    0px 0px 9px 0px rgba(50, 50, 50, 0.75);
		     box-shadow:    0px 0px 9px 0px rgba(50, 50, 50, 0.75);}


.boxShadow{-webkit-box-shadow: 0 8px 6px -6px #666;
	   -moz-box-shadow: 0 8px 6px -6px #666;
	        box-shadow: 0 8px 6px -6px #666;}
			
.shadowLR{-moz-box-shadow: 0 0 4px 4px #A26606;
-webkit-box-shadow: 0 0 4px 4px #A26606;
box-shadow: 0 0 4px 4px #A26606;}

.insetShadow{
	box-shadow: inset 0px 0px 10px 0px #730D0F;
	-webkit-box-shadow: inset 0px 0px 10px 0px #730D0F;
	-moz-box-shadow: inset 0px 0px 10px 0px #730D0F;
	-o-box-shadow: inset 0px 0px 10px 0px #730D0F;
}

.icon-collapse-panel .panel-default > .panel-heading{padding:0;}
.icon-collapse-panel .panel-heading a{padding:12px 35px 12px 15px; display:inline-block; width:100%; position:relative; text-decoration:none;}
.icon-collapse-panel .panel-heading a:after{font-family:"FontAwesome"; content:"\f068"; position:absolute; right:20px; font-size:20px; top:50%; line-height:1; margin-top:-10px;}
.icon-collapse-panel .panel-heading a.collapsed:after{content:"\f067";}

.commonListVertical ul{list-style-type:none;}
.commonListVertical ul li:before{font-family:'FontAwesome'; content:"\f0da"; margin:0 10px 0 10px; color:#eb81a9 ; line-height:24px;}

.linkHover a::before,
.linkHover a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.linkHover a::before {
	margin-right:2px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.linkHover a::after {
	margin-left:2px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.linkHover a:hover::before,
.linkHover a:hover::after,
.linkHover a:focus::before,
.linkHover a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}



/* Float Shadow */
.hvr-float-shadow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.hvr-float-shadow:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	/* W3C */
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
	/* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
	/* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}


/*link faded*/
.linkFaded{ content: ""; width: 180px; height: 21px; margin-bottom: -6px; margin-left: -180px; display: inline-block; position: relative; background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 75%); background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(75%, #fff)); background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 75%); background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 75%); background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 75%); background: linear-gradient(to right, rgba(255,255,255,0) 0%, #fff 75%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); }


.glossyButton {
	position:relative;
	display:inline-block;
	text-align:center;
	cursor:pointer;
    background-color:#f00;
	background-color:rgba(128,128,128,0.75);
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-opera-border-radius:10px;
	-khtml-border-radius:10px;
	border-radius:10px;
	color:#fff;
	text-shadow:1px 1px 3px rgba(0,0,0,0.5);
	background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(64,64,64,0.75)), to(rgba(192,192,192,0.9)));
	background-image:-moz-linear-gradient(top,bottom,from(rgba(64,64,64,0.75)), to(rgba(192,192,192,0.9)));
	text-transform:uppercase;
	font-family: 'BurbankBigCondensedBold';
	font-size:32px;
	letter-spacing:1px;
	padding:7px 25px 0 25px;
}
.glossyButton span {
	position:absolute;
	display:block;
	width:94%;
	left:3.5%;
	top:-1px;
	height:50%;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	background-color:rgba(255,255,255,0.25);
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.75)), to(rgba(255,255,255,0)));
	background-image:-moz-linear-gradient(top,bottom,from(rgba(255,255,255,0.75)), to(rgba(255,255,255,0)));
}
 
.glossyRed {
	background-color:rgba(250, 8, 17, 0.75);
	background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(255, 148, 148, 0.75)), to(rgba(255, 0, 0, 0.9)));
	background-image:-moz-linear-gradient(top,bottom,from(rgba(255, 148, 148, 0.75)), to(rgba(96,192,255,0.9)));
}
 
.glossyRed:hover {
	background-color:rgba(64,128,192,0.75);
	background-image:-webkit-gradient(linear, 0% 0%, 0% 90%,from(rgba(255, 148, 148, 0.75)), to(rgba(255, 0, 0, 0.9)));
	background-image:-moz-linear-gradient(top,bottom, from(rgba(255, 148, 148, 0.75)), to(rgba(255, 0, 0, 0.9)));
	color:#fff;
}
.glossyRed:focus {
	background-color:rgba(64,128,192,0.75);
	background-image:-webkit-gradient(linear, 0% 0%, 0% 90%,from(rgba(255, 148, 148, 0.75)), to(rgba(255, 0, 0, 0.9)));
	background-image:-moz-linear-gradient(top,bottom, from(rgba(255, 148, 148, 0.75)), to(rgba(255, 0, 0, 0.9)));
	color:#fff;
}

.btn3d {
    color:#fff !important;
    text-decoration: none;
    background-color: rgba(158,212,119,1);
    font-weight: 700;
    font-size: 24px;
    padding: 10px 20px;
	border:none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 6px 0px rgba(111,156,78,1), 0px 9px 15px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 6px 0px rgba(111,156,78,1), 0px 9px 15px rgba(0,0,0,.7);
    box-shadow: 0px 6px 0px rgba(111,156,78,1), 0px 9px 15px rgba(0,0,0,.7);
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

.btn3d:active {
    -webkit-box-shadow: 0px 3px 0px rgba(111,156,78,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(111,156,78,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(111,156,78,1), 0px 3px 6px rgba(0,0,0,.9);
    top: 6px;
	color:#fff !important;
}
.btn3d:focus{border:none;}

