<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/CSS/earlymoments.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div style="width: 804px; margin: 150px auto;">
            <div style="float: left; width: 800px; border-left: solid 2px #d4d4d4; border-right: solid 2px #d4d4d4;
                background-color: #FFF">
                <div align="center">
                    <asp:Image ID="imgHeader" runat="server" AlternateText="Order Confirmation" Width="800"
                               Height="118" />
                </div>
                <div>
                    @RenderBody()
                </div>
                <div class="Divider">
                </div>
                <div class="Divider">
                </div>
                <div style="background-color: #154b78; height: 70px; width: 780px; border-top: solid 1px #d4d4d4;
                    font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; padding-top: 10px;
                    padding-left: 20px;text-align:center;">
                    Early Moments, 934 Plaza Dr., Montoursville, PA. 17754-2400 Copyright &copy;
                    @System.DateTime.Now.Year.ToString()
                </div>
            </div>
            <!-- Close Container Div-->
        </div>
    </div>

</body>
</html>
