<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*<link href="/Content/earlymoments.css" rel="stylesheet" />*@
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/custom.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container customContainer">
        <div class="verticalCenterRow">
            <header class="row">
                <div class="col-md-12 noPaddingLR">                   
                    <img src="/Images/bfd_confirm_head.gif" id="imgHeader" alt="Order Confirmation" class="responsiveImg"/>
                </div>
            </header>
            <div class="row bodyContainer" id="diverror">
                <div class="col-md-12 text-center red f14">
                    @RenderBody()
                </div>
            </div>
            <footer class="row">
                <div class="col-md-12 text-center white">
                    Early Moments, 934 Plaza Dr., Montoursville, PA. 17754-2400 Copyright &copy; 
                    @System.DateTime.Now.Year.ToString()
                </div>
            </footer>
        </div>
    </div>
</body>
</html>
