@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 320px){
	.xsTop10{margin-top:10px;}
	.formStep1{margin-top:-8px !important;}
    /*.expDate select{width:49px !important;}*/
}

@media screen and (max-width: 360px){
	.widthSmallFull{width:100%;}
	.aDb .form-control{width:30% !important;}
}


@media only screen and (min-width : 360px) and (max-width : 414px){
	.formStep1{margin-top:-10px !important;}
}
@media screen and (max-width: 414px){
	.adjustMobileFormContainer .formLabel{text-align:right !important; padding-right:0; font-size:11px !important;}
}
@media screen and (min-width:415px) and (max-width:767px){
	.adjustMobileFormContainer .formLabel{text-align:right !important;}
	.formStep1{margin-top:-12px !important;}
}

@media screen and (max-width:767px){
	::-webkit-input-placeholder{color:#fff !important;}
	:-moz-placeholder{color:#fff !important;}
	::-moz-placeholder{color:#fff !important;}
	::-ms-input-placeholder{color:#fff !important;}
	.rightPaddingSmallOff{padding-right:0;}
	.paddingLRoffSm{padding-left:0; padding-right:0;}
	.smallMarginTopBot{margin-top:15px; margin-bottom:15px;}
	.smallMarginTop5{margin-top:5px;}
	.smallMarginTop10{margin-top:10px;}
	.smallMarginTop20{margin-top:20px;}
	.smallMarginBottom5{margin-bottom:5px;}
	.smallMarginBottom10{margin-bottom:10px;}
	.smallMarginBottom20{margin-bottom:20px;}
	.noLeftPaddingSmall{padding-left:0;}
	.noRightPaddingSmall{padding-right:0;}
	.noMarginBottomSmall{margin-bottom:0;}
	.customPad{padding:0;}
	.hideSmall{display:none;}
	.centerSmall{text-align:center;}
	
	/*.customMainContainer{margin-left:20px; margin-right:20px; margin-top:20px; -webkit-border-radius:20px; -moz-border-radius:20px; border-radius:20px; -o-border-radius:20px; background-color:#FCF5AD !important;border:3px solid #436125; background-color:#FCF5AD; overflow:hidden;}*/
	.rightCol{background:none !important;}
	.customMainContainer{margin-left:20px; margin-right:20px; margin-top:20px; -webkit-border-radius:20px; -moz-border-radius:20px; border-radius:20px; -o-border-radius:20px; background-color:#FCF5AD !important; background-color:#FCF5AD; padding-bottom:0 !important; -moz-box-shadow: 0 0 2px 2px #1D5582; -webkit-box-shadow: 0 0 2px 3px #1D5582; box-shadow: 0 0 3px 3px #1D5582;}
	
	.formContainer{margin-top:10px;}
	.formStep1{margin-left:6px; max-width:94%;margin-top:-12px;}
	.formStep1Bg{background-color: #35C2DE; margin-top:-10px; border-right:3px solid #BFD630; border-top:2px solid #35C2DE; padding-bottom:1px;}
	#headerImage{width:100%;}
	.rightFormDiv{background-color:#FCF5AD; -webkit-border-radius:20px; -moz-border-radius:20px; border-radius:20px; -o-border-radius:20px;}
	.orderForm label{margin-bottom:0;}
	.orderForm .form-control{margin-bottom:0;}
	#date-picker{margin-bottom:0;}
	
	/*payment*/
	.rightFormContainer{padding-left:15px !important; padding-right:15px !important;}
	.formHeader{background-color:#BED630; text-align:center; -webkit-border-radius:20px 20px 0 0; -moz-border-radius:20px 20px 0 0; border-radius:20px 20px 0 0; -o-border-radius:20px 20px 0 0;}
	.zip input, .aDb select{width:31% !important;}
	.aDb select{padding:2px; display:inline !important;}
	.borderedBox{border-left:3px solid #BFD630; border-right:3px solid #BFD630; border-bottom:3px solid #BFD630; margin-left:14px; margin-right:15px; margin-top:2px; padding-top:15px; padding-bottom:20px; -webkit-border-radius:0 0 20px 20px; -moz-border-radius:0 0 20px 20px; border-radius:0 0 20px 20px; -o-border-radius:0 0 20px 20px;}
	.formStep1{margin-top:-6px; margin-left:-5px;}
	.formHeader{overflow:hidden;}
	
}

@media screen and (min-width: 768px){
	.noPaddingLRbig{padding-left:0; padding-right:0;}
	.hideBig{display:none;}
	.absoluteBig{position:absolute;}
	.marginTopLg30{margin-top:30px;}
	.controllForm .form-group label{display:none;}
	 
	.customMainContainer{width:700px; -moz-box-shadow: 0 0 4px 4px #1D5582; -webkit-box-shadow: 0 0 4px 4px #1D5582; box-shadow: 0 0 4px 4px #1D5582;}
	.formContainer{padding-bottom:15px;}
	.formLabel{text-align:right; padding-right:0;}
	.heightAdjustLeft{margin:0; min-height:35px;}
	.submitButton{font-size:24px;}
	.submitButton i{font-size:24px; color:#fff !important;}
	.formFieldGap{margin-bottom:8px;}
	/*.expDate select{width:40% !important;} */
	.zip input, .aDb select{width:32% !important;}
	.aDb select{padding:2px;}
	.rightCol{background:url(/images/seuss/payment4for1spring/formBg.gif) no-repeat;}
}



@media screen and (min-width: 768px) and (max-width:991px){
	.rightFormDiv{position:relative; top:-24px; padding-right:15px;}
	.formStep1{margin-left:-5px; top:-22px; position:relative; max-width:101.8%;}
	.orderForm{border-left:2px solid #436125; border-right:2px solid #436125; border-bottom:2px solid #436125; background-color:#FCF5AD; width:100%; margin-left:0;}
	
	/*payment*/
	.orderSummery{margin-top:-150px; position:relative;}
	
}
@media only screen and (min-width : 480px) and (max-width : 800px) and (orientation:landscape){
	/*.customMainContainer{padding-bottom:40px !important;}*/
	.heightAdjustLeft{min-height:240px !important;}
	.leftBotImg{position:relative; z-index:9; left:-13px; max-width:106%;}
	.formFieldGap{margin-bottom:6px !important;}
	.formStep1{margin-top:-9px; margin-left:-5px;}
}
@media screen and (min-width:992px){
	.customMainContainer{width:960px;}
	.formBgMain{position:relative; max-width:102%; left:-8px;}
	.rightFormDiv{position:relative; top:-34px; left:-8px;}
	.formStep1{margin-left:-7px; top:-22px; position:relative; max-width:97%;}
	.orderForm{border-left:2px solid #BFD630; border-right:2px solid #BFD630; border-bottom:2px solid #BFD630; background-color:#F9FFA0; width:95%; margin-left:0;}
	
	/*payment*/
	.orderSummery{margin-top:-188px; position:relative;}
	
}

@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation:portrait){
	.customMainContainer{padding-bottom:40px !important;}
	.heightAdjustLeft{min-height:240px;}
	.formFieldGap{margin-bottom:6px;}
	.aDb select{width:30% !important;}
}

@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
	.formFieldGap{margin-bottom:10px;}
	.heightAdjustLeft{min-height:60px;}
}

