@charset "utf-8";
/* CSS Document */

body{background-color:#fff; font-family: 'Open Sans', sans-serif !important; -webkit-font-smoothing:antialiased;} /*overflow-x:hidden;*/

footer{max-width:1000px; font-size:11px;}
.customMainContainer{background-color:#fff; padding-top:10px; padding-bottom:10px;}

.shopCart h4{text-align:center;}
.shopCart .form-control{border-radius:0;}
table.summary th {
	background-color:#e0e0e0;
	border: medium solid #ffffff;
}

table.summary td {
	border: medium solid #ffffff;
	background-color:#f9f9f9;
}

.orderItemsTable {
	margin: 0;
	border: 1px solid #ccc;
	width:100%;
}
.orderItemsTable th {
	background-color: #42c0b6;
	color: #FFFFFF;
    padding: 5px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
    width:100%

}
.orderItemsTable td {
	color: #333;
	padding: 5px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	
}

table tr.even, table tr.alt, table tr:nth-of-type(2n) {
    background: none;
}

label{font-weight:normal;}

button, .button {
    border-style: solid;
    border-width: 1px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 1em;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 1.25em;
    padding: 0.75em 1.5em 0.8125em;
    position: relative;
    text-align: center;
    text-decoration: none;
}

button:hover, button:focus, .button:hover, .button:focus {
	background-color:#42c0b6;
	opacity:.7;
}
.button{padding-top: 1.03125em; padding-bottom: 1.03125em; padding-left: 2em; padding-right: 2em; background-color: #2ba6cb; border-color: #2284a1; font-size: 1.25em;}