@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 320px){
	.xsTop10{margin-top:10px;}
	
}

@media screen and (max-width: 360px){
	.widthSmallFull, .col-xs-6{width:100%;}
}

@media screen and (max-width:767px){
	::-webkit-input-placeholder{color:#fff !important;}
	:-moz-placeholder{color:#fff !important;}
	::-moz-placeholder{color:#fff !important;}
	::-ms-input-placeholder{color:#fff !important;}
	.rightPaddingSmallOff{padding-right:0;}
	.paddingLRoffSm{padding-left:0; padding-right:0;}
	.smallMarginTopBot{margin-top:15px; margin-bottom:15px;}
	.smallMarginTop5{margin-top:5px;}
	.smallMarginTop10{margin-top:10px;}
	.smallMarginTop20{margin-top:20px;}
	.smallMarginBottom5{margin-bottom:5px;}
	.smallMarginBottom10{margin-bottom:10px;}
	.smallMarginBottom20{margin-bottom:20px;}
	.noLeftPaddingSmall{padding-left:0;}
	.noRightPaddingSmall{padding-right:0;}
	.noMarginBottomSmall{margin-bottom:0;}
	.customPad{padding:0;}
	.hideSmall{display:none;}
	
}

@media screen and (min-width: 768px){
	.noPaddingLRbig{padding-left:0; padding-right:0;}
	.hideBig{display:none;}
	.absoluteBig{position:absolute;}
	.marginTopLg30{margin-top:30px;}
	.controllForm .form-group label{display:none;}	
	.customMainContainer{width:700px;}	
}

@media only screen and (min-width : 480px) and (max-width : 800px) and (orientation:landscape){
	.customMainContainer{padding-bottom:40px !important;}
	
}
@media screen and (min-width:992px){
	.customMainContainer{width:960px;}	
}

@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation:portrait){
	.customMainContainer{padding-bottom:40px !important;}	
}