@charset "utf-8";
/* CSS Document */

@import url(font-awesome.css);
@import url(common.css);
@import url(media.css);

body{background:url(../images/snowflake_bkgrnd.png) repeat; background-color: #a7d6f1; font-family:'Arial', Helvetica, sans-serif !important; -webkit-font-smoothing:antialiased;  overflow-x:hidden;}

footer{max-width:1000px; font-size:11px;}
.customMainContainer{background-color:#DDF1FB; padding-bottom:30px;}
.formContainer{font-size:12px; color:#000;}
.formContainer span{color:#f00;}
.formContainer .form-control{height:28px; font-size:11px; border-radius:0;}
.childGender .input-group-addon{padding:2px 12px; background-color:transparent; border:none;}
.close{opacity:1;}
.submitButton{color:#fff;}
.input-group-addon{padding:5px 12px; background-color:#fff;}
.input-group-addon span{color:#000;}

/*payment*/
.showBillInfoRadio input[type=checkbox], input[type=radio]{margin: 2px 0 0;}


/*style start for click to view stepAgreementBox*/
#divViewTermsAndConditions{background:#c3c3c3; color:#000; padding:3px 5px; font-size:10px; cursor:pointer; margin-top:5px; text-align:center;}
.fieldset-membership{background-color:#fff; padding:10px;}
.stepAgreementBox{border:1px solid #999;}
.stepAgreementBox .scroll{height:80px; overflow: auto; font-size: 11px; line-height: 13px; margin-top: 5px; padding:0 10px 0 7px;}
.stepAgreementBox .tickAgree span{color:#f00;}
/*style end for click to view stepAgreementBox*/

.formContainer label{font-weight:700;}
.formFieldGap{margin-bottom:10px;}
.cvv .input-group{width:113px;}
.cvv .input-group-addon{padding:2px 12px; background-color:transparent; border:none;}
.expDate select{height:28px;}

.left01Bg{position:relative;}
.left01BgBooks{position:absolute;}
.left01BgBooks div{padding-left:5px; padding-right:5px;}

.orderSummery{margin-left:35px; margin-right:35px; margin-bottom:5px; box-shadow:none; border:none; background-color:transparent; margin-top:-34px; position:relative;}
.orderSummery p{font-weight:700; color:#333; text-align:center; margin-bottom:5px;}
.orderSummery  table{margin-bottom:0;}
.orderSummery  table tr td{border:none; padding:0;}
.orderSummery thead, .orderSummery  table tfoot{font-weight:700;}
.dashed{border-top: 1px dashed #231f20 !important; height:12px;}
.smallTable{border:1px solid #267eaf; padding:10px;}
.orderSummery .panel-body{padding:0;}
.orderSummery .panel-heading{padding:5px; text-align:center; border:none; margin-bottom:10px; margin-top:10px;}
.orderSummery .panel-heading h5{margin:0;}

#bullets{font-size:18px; text-align:left; margin-bottom:5px; margin-top:10px;}
#bullets ul{padding-left:0;}
#bullets ul li{list-style-image:url(../images/bullet.gif); margin-bottom:5px;}
.adob label{font-size:10px;}