@{
    Layout = "~/Views/Shared/_LayoutTripware.cshtml";
}

<div id="pageContainer" class="container-fluid">
    <div id="pageContainerInner" class="pageContainerInner">
        <div id="header" class="header row role-element leadstyle-container">
            <div id="headerInner" class="headerInner">
                <a id="logo" class="logo role-element leadstyle-image-link"><img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/disney-reading-small.png"></a>
            </div>
        </div>
        <!--Header-->
        <div id="headlineWrap" class="row headlineWrap role-element leadstyle-container">
            <div id="headlineInner" class="headlineInner">

                <p><strong>You made a great decision.</strong> </p><p>And here's why... because you clearly want your young reader to dive deeper into the characters and story they love, to enjoy an immersive, interactive reading experience. </p>

                <p>And that's exactly what you got with the free Disney•Pixar <em>Frozen: The Essential Guide</em> and the free bonus sticker activity book.</p>

                <p>But how would you like to expand that experience to include more of the most beloved characters from Disney•Pixar... and as a valued customer, get all this at a huge discount?</p>

                <br>


                <div id="headline" class="headline role-element leadstyle-text">
                    <div>
                        <h3>Here&rsquo;s Your &ldquo;Thank You&rdquo; Discount...</h3>
                    </div>


                </div>
            </div>
            <!--headlineWrap-->
            <div id="hero" class="hero row role-element leadstyle-container darkbkgd">
                <div id="headline" class="headline role-element leadstyle-text inside">
                    <div>
                        <span style="color:red;"><em>While Supplies Last:</em></span> <br>
                        Now You Can Get 3 More Disney•Pixar Favorites And a Ton of Free Bonuses
                        For Just $7 <br>
                        &amp; Free Shipping
                    </div><p style="text-align:center; font-size:.8em;">(That's Over 75% Off)</p>
                </div>
                <div class="sectionInner heroInner" style="margin-top:-40px;">

                    <img class="heroimage" src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/upsell1/3-thin-books-2.png" class="role-element leadstyle-image" style="max-width:700px;">




                </div>
                <!--Section Inner-->
            </div>
            <!--Section1-->




            <div id="section2" class="section2 row role-element leadstyle-container inside">
                <div class="sectionInner">
                    <h2>Here's What You Get With Your Discount:</h2><br>
                    <div id="section2TestiHeadline" class="section2TestiHeadline role-element leadstyle-text"><h1>Three More Hardcovers Shipped Right to Your Door</h1></div>

                    <!--Section2 testi wrap-->
                </div>
                <!--Section Inner-->
            </div>



            <div id="hero" class="hero row role-element leadstyle-container inside">




                <div class="sectionInner heroInner">


                    <div id="heroLeft" class="heroLeft role-element leadstyle-container">
                        <img id="heroLeftImg" src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/upsell1/frozen-.png" class="role-element leadstyle-image" style="max-width:200px;">
                    </div>

                    <div id="heroRight" class="heroRight role-element leadstyle-container">
                        <div id="heroFormWrap" class="heroFormWrap">
                            <div id="heroFormHeadline" class="heroFormheadline"></div>
                            <div id="heroFormButtonWrap" class="heroFormButtonWrap">

                                <p>The perfect companion to your Essential Guide, this story introduces Princess Elsa, a young girl who can magically make snow and ice appear! But because she can’t control her powers, Elsa hides them from everyone. She even pushes her younger sister Anna away. When Elsa is crowned queen and her powers are revealed, the kingdom is left in a frozen mess! The vivid illustrations and simply-told story remind us that true love is the greatest power of all.</p>

                                <p><span style=" opacity:.7; text-decoration:line-through;"><em>Value: $4.99</em></span></p><p><strong>Your Price: $2.33 (Free Shipping)</strong></p>

                                <!--<a id="heroFormButton" class="newBtn2 btn  role-element leadstyle-link">Rush Me My Free Hardcover Copy</a>
                                <p style="text-align:center;">Just Pay $5.95 s/h</p>
                                -->
                            </div>



                        </div>
                    </div>
                </div>


                <div class="sectionInner heroInner">


                    <div id="heroLeft" class="heroLeft role-element leadstyle-container">
                        <img id="heroLeftImg" src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/upsell1/inside-out.png" class="role-element leadstyle-image" style="max-width:200px;">
                    </div>

                    <div id="heroRight" class="heroRight role-element leadstyle-container">
                        <div id="heroFormWrap" class="heroFormWrap">
                            <div id="heroFormHeadline" class="heroFormheadline"></div>
                            <div id="heroFormButtonWrap" class="heroFormButtonWrap">

                                <p>This retelling of the film is a story about Five Emotions that work together at Headquarters inside Riley’s mind. The Emotions guide Riley’s everyday actions. But when Riley moves from Minnesota to San Francisco, her Emotions struggle to keep things under control. Beautifully illustrated in eye-popping colors, this imaginative tale is sure to touch your emotions at storybook time.</p>

                                <p><span style=" opacity:.7; text-decoration:line-through;"><em>Value: $4.99</em></span></p><p><strong>Your Price: $2.33 (Free Shipping)</strong></p>
                                <!--<a id="heroFormButton" class="newBtn2 btn  role-element leadstyle-link">Rush Me My Free Hardcover Copy</a>
                                <p style="text-align:center;">Just Pay $5.95 s/h</p>
                                -->
                            </div>



                        </div>
                    </div>
                </div>




                <div class="sectionInner heroInner">


                    <div id="heroLeft" class="heroLeft role-element leadstyle-container">
                        <img id="heroLeftImg" src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/upsell1/good-dinosaur.png" class="role-element leadstyle-image" style="max-width:200px;">
                    </div>

                    <div id="heroRight" class="heroRight role-element leadstyle-container">
                        <div id="heroFormWrap" class="heroFormWrap">
                            <div id="heroFormHeadline" class="heroFormheadline"></div>
                            <div id="heroFormButtonWrap" class="heroFormButtonWrap">

                                <p>Disney•Pixar's The Good Dinosaur is a humorous and exciting original story about Arlo, a lively Apatosaurus with a big heart.  After a traumatic event unsettles Arlo's family, he sets out on a remarkable journey, gaining an unlikely companion along the way--a human boy. Boys and girls ages 2 to 5 will love this retelling of the film.</p>

                                <p><span style=" opacity:.7; text-decoration:line-through;"><em>Value: $4.99</em></span></p><p><strong>Your Price: $2.33 (Free Shipping)</strong></p>

                                <!--<a id="heroFormButton" class="newBtn2 btn  role-element leadstyle-link">Rush Me My Free Hardcover Copy</a>
                                <p style="text-align:center;">Just Pay $5.95 s/h</p>
                                -->
                            </div>



                        </div>
                    </div>
                </div>



                <!--Section Inner-->
            </div>

            <!--Hero--><p style="text-align:center;">Not only that, but you&rsquo;ll also receive:</p>
            <div class="darkbkgd" style="margin-left:0px; margin-right:0px; width:100%; padding:1em;">
                <div style="margin-left:auto; margin-right:auto; width:95%; max-width:700px;" id="section1Headline" class="section1Headline role-element leadstyle-text">
                    <h1>
                        <span style="color:red;"><em>Free Bonus #1:</em></span><br>
                        Downloadable E-Book Versions, So You Can Access Each Book Right Away
                    </h1>
                </div>

            </div>
            <div id="section1" class="section1 row role-element leadstyle-container">
                <div class="sectionInner">


                    <!--headlineWrap-->
                    <!--headlineWrap-->

                    <div id="hero" class="hero2 row role-element leadstyle-container" style="width:95%; margin-left:auto; margin-right:auto;padding-left:1em; padding-right:1em; max-width:700px;">


                        <!--Section Inner-->
                    </div>


                    <div align="center" style="text-align:center;">
                        <center>

                            <img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/upsell1/frozen-ipad-starburst.png" style="width:200px;"><img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/upsell1/inside-out-ipad-starburst.png" style="width:200px;"><img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/upsell1/dino-ipad-starburst.png" style="width:200px;">
                        </center>
                        <br>

                        <div id="section1Headline" class="section1Headline role-element leadstyle-text" style=" width:95%; margin-left:auto; margin-right:auto;padding-left:1em; padding-right:1em; max-width:700px;">
                            <p style="text-align:center;"><span style="text-decoration:line-through; opacity:.7"><em>Value: $4.99 Each</em></span></p>
                            <p style="text-align:center;"><strong>Your Price: Free</strong></p>
                        </div>

                    </div>


                </div>
            </div>
            <div class="darkbkgd" style="margin-left:0px; margin-right:0px; width:100%; padding:1em;">
                <div style="margin-left:auto; margin-right:auto; width:95%; max-width:700px;" id="section1Headline" class="section1Headline role-element leadstyle-text">
                    <h1>
                        <span style="color:red;"><em>Free Bonus #2:</em></span><br>
                        Downloadable Coloring Pages for Each Story
                    </h1>
                </div>

            </div>
            <div id="section1" class="section1 row role-element leadstyle-container">
                <div class="sectionInner">







                    <div align="center" style="text-align:center;">
                        <center>

                            <img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/upsell1/activity-sheet-1.png" class="heroimage" style="max-width:300px">
                        </center>
                        <br>

                        <div id="section1Headline" class="section1Headline role-element leadstyle-text" style=" width:95%; margin-left:auto; margin-right:auto;padding-left:1em; padding-right:1em; max-width:700px;">
                            <p style="text-align:center;"><span style="text-decoration:line-through; opacity:.7"><em>Retail Value: $0.99 Each</em></span></p>
                            <p style="text-align:center;"><strong>Your Price: Free</strong></p>
                        </div>

                    </div>

                </div>
            </div>

            <div class="darkbkgd" style="margin-left:0px; margin-right:0px; width:100%; padding:1em;">
                <div style="margin-left:auto; margin-right:auto; width:95%; max-width:700px;" id="section1Headline" class="section1Headline role-element leadstyle-text">
                    <h1>
                        <span style="color:red;"><em>Free Bonus #3:</em></span><br>
                        Downloadable Activity Pages for Each Story
                    </h1>
                </div>

            </div>

            <div id="section1" class="section1 row role-element leadstyle-container">
                <div class="sectionInner">







                    <div align="center" style="text-align:center;">
                        <center>

                            <img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/upsell1/activity-sheet-2.png" class="heroimage" style="max-width:300px">
                        </center>
                        <br>

                        <div id="section1Headline" class="section1Headline role-element leadstyle-text" style=" width:95%; margin-left:auto; margin-right:auto;padding-left:1em; padding-right:1em; max-width:700px;">
                            <p style="text-align:center;"><span style="text-decoration:line-through; opacity:.7"><em>Retail Value: $0.99 Each</em></span></p>
                            <p style="text-align:center;"><strong>Your Price: Free</strong></p>
                        </div>

                    </div>






                </div>
            </div>


            <div class="darkbkgd" style="margin-left:0px; margin-right:0px; width:100%; padding:1em;">
                <div style="margin-left:auto; margin-right:auto; width:95%; max-width:700px;" id="section1Headline" class="section1Headline role-element leadstyle-text">
                    <h1>
                        <span style="color:red;"><em>Limited Time Offer:</em></span> <br>
                        <strong>Get All This for $7</strong> <br>
                        When You Try the Disney Wonderful World of Reading Book Club with No Commitment
                    </h1>
                </div>

            </div>

            <div id="section1" class="section1 row role-element leadstyle-container">
                <div class="sectionInner">



                    <div id="section1Headline" class="section1Headline role-element leadstyle-text" style="width:95%; margin-left:auto; margin-right:auto;padding-left:1em; padding-right:1em; max-width:700px;">


                        <center>

                            <img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/upsell1/membership-shot.png" class="heroimage" style="max-width:700px">
                        </center>
                        <br>
                    </div>





                    <div id="section1Headline" class="section1Headline role-element leadstyle-text" style=" width:95%; margin-left:auto; margin-right:auto;padding-left:1em; padding-right:1em; max-width:700px;">


                        <div id="heroBulletsWrap" class="heroBulletsWrap">
                            <p>When you try the Disney Wonderful World of Reading Book Club, you&rsquo;ll receive:</p>
                            <ul id="heroBulletList" class="heroBulletList role-element leadstyle-text">
                                <li id="heroBullet1" class="heroBullet">High-Quality, Hardcover Editions of Your Child's Favorite Disney Classics</li>

                                <li id="heroBullet3" class="heroBullet">100% Satisfaction Guaranteed on Everything You Receive, With Zero Commitment</li>

                                <li id="heroBullet3" class="heroBullet">3 Books Per Month Shipped Right to Your Door, So You'll Always Have Books to Share</li>
                                <li id="heroBullet3" class="heroBullet">Online Account Access, So You Can Instantly Update Your Preferences</li>
                                <li id="heroBullet3" class="heroBullet">The Chance For Your Child Discover the Joys of Reading and Become a Lifelong Learner</li>
                            </ul>
                            <p>And there's absolutely no commitment. You can cancel anytime, for any reason, or for no reason at all. Absolutely no questions asked.</p>
                        </div>
                    </div>


                    <div id="section2" class="section2 row role-element leadstyle-container inside">
                        <div class="sectionInner">

                            <div id="section2TestiWrap" class="section2TestiWrap">

                                <div id="section2Testi1" class="testi role-element leadstyle-container">
                                    <img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/testimonials/testimonial6.png" id="testiImg1" class="role-element leadstyle-image">
                                    <p id="testiName1" class="role-element leadstyle-text"><strong>Caressa </strong></p>
                                    <blockquote id="testiBlockquote1" class="role-element leadstyle-text"><div>&ldquo;Finally got mine today! My daughter was so excited!&rdquo;</div></blockquote>
                                </div>
                                <div id="section2Testi2" class="testi role-element leadstyle-container">
                                    <img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/testimonials/testimonial9.png" id="testiImg2" class="role-element leadstyle-image">
                                    <p id="testiName2" class="role-element leadstyle-text"><strong>Ashley </strong></p>
                                    <blockquote id="testiBlockquote2" class="role-element leadstyle-text"><div>&ldquo;This company is great! Good deals and amazing customer service. I highly recommend them!&rdquo;</div></blockquote>
                                </div>
                                <div id="section2Testi3" class="testi role-element leadstyle-container">
                                    <img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/testimonials/testimonial10.png" id="testiImg3" class="role-element leadstyle-image">
                                    <p id="testiName3" class="role-element leadstyle-text"><strong>Alyese </strong></p>
                                    <blockquote id="testiBlockquote3" class="role-element leadstyle-text"><div>&ldquo;I love Early Moments. As both a parent and a teacher, I can attest to the fact that the books provide an excellent beginning to a life-long love of learning.&rdquo;</div></blockquote>
                                </div>
                            </div>
                            <!--Section2 testi wrap-->
                        </div>
                        <!--Section Inner-->
                    </div>




                </div>
                <!--Section Inner-->





            </div>

            <div class="darkbkgd" style="margin-left:0px; margin-right:0px; width:100%; padding:1em;">

                <div style="width:95%; margin-left:auto; margin-right:auto; max-width:700px;">
                    <h3><span style="text-decoration:line-through; opacity:.7"><em>Total Value For Everything You See Here: $35.88 + s/h</em></span></h3>
                    <div id="section1Headline" class="section1Headline role-element leadstyle-text" style=" width:95%; margin-left:auto; margin-right:auto;padding-left:1em; padding-right:1em; max-width:700px;">


                        <h1>Your Price Today For All This:<br>Just $7 Plus FREE Shipping!</h1>
                        <p style="text-align:center;">(That's a Savings of Over 75%!)</p>
                    </div>
                </div>


            </div>

            <div id="hero" class="hero row role-element leadstyle-container">
                <img id="heroLeftImg" src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/upsell1/big-group-shot.png" class="role-element leadstyle-image heroimage inside">


                <div class="darkbkgd" style="padding:1em;">
                    <div id="section1Headline" class="section1Headline role-element leadstyle-text" style="max-width:700px; margin-left:auto; margin-right:auto; padding-left:auto; padding-right:auto;"> <h1>Not Only All This, But You&rsquo;ll Also Get Our 30-Day &ldquo;No Questions Asked&rdquo; 100% Satisfaction Guarantee</h1></div>
                    <div class="sectionInner heroInner">


                        <div id="heroRight" class="heroRight role-element leadstyle-container">
                            <img id="heroLeftImg" src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/satisfaction-guarantee-seal.png" class="role-element leadstyle-image">
                        </div>

                        <div id="heroLeft" class="heroLeft role-element leadstyle-container">
                            <div id="heroFormWrap" class="heroFormWrap">
                                <div id="heroFormHeadline" class="heroFormheadline"></div>
                                <div id="heroFormButtonWrap" class="heroFormButtonWrap">
                                    <p>Your complete satisfaction is guaranteed.</p>

                                    <p>If for any reason your three hardcover books don't tickle your little one's funny bone, simply return them to us at your expense with a note marked "cancel." We'll gladly refund the purchase price, no questions asked, and your book club membership will be cancelled.</p>

                                    <p>There is no purchase commitment.</p>








                                    <a id="heroFormButton" class="newBtn2 btn  role-element leadstyle-link" style="display:none;">Rush Me My Free Hardcover Copy</a>

                                </div>



                            </div>
                        </div>
                    </div>

                </div><!--darkbkgd-->
                <!--Section Inner-->
                <div class="sectionInner heroInner inside">


                    <div id="heroLeft" class="heroLeft role-element leadstyle-container">
                        <img id="heroLeftImg" src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/testimonials/testimonial11.png" class="role-element leadstyle-image" style="max-width:200px;">
                    </div>

                    <div id="heroRight" class="heroRight role-element leadstyle-container">
                        <div id="heroFormWrap" class="heroFormWrap">
                            <div id="heroFormHeadline" class="heroFormheadline"></div>
                            <div id="heroFormButtonWrap" class="heroFormButtonWrap">

                                <h1>&ldquo;We love these books. My kids can't wait to open the package and see what books we got.&rdquo;</h1><p style="text-align:center;">&ndash;Nicole E.</p>


                                <!--<a id="heroFormButton" class="newBtn2 btn  role-element leadstyle-link">Rush Me My Free Hardcover Copy</a>
                                <p style="text-align:center;">Just Pay $5.95 s/h</p>
                                -->
                            </div>



                        </div>
                    </div>
                </div>
            </div>


            <!--Section2-->
            <div id="section3" class="section3 row role-element leadstyle-container ">
                <div class="sectionInner inside">
                    <div id="section3Form" class="section3Form">

                        <a href="" ng-click="addFirstOffer()" id="section3Button" class="newBtn2 btn role-element leadstyle-link">Yes, Please Send Me My Three Books and Everything Else I see Here For Just $7 Today and Free Shipping</a>
                    </div>
                    <br>
                    <div>
                        <table cellpadding="0" cellspacing="0" style="width:90%; max-width:500px; margin-left:auto; margin-right:auto;"><tr><td valign="top"><input type="checkbox" value="yestac">&nbsp;</td><td style="width:20px;">&nbsp;</td><td style="text-align:left;">* YES, I am over the age of 18, and I have read, understand and agree to the terms and conditions of this offer and your <a href="#">Terms Of Service</a>.</td></tr></table>
                    </div>
                    <div style="margin-left:auto; margin-right:auto; margin-bottom:1em; margin-top:1em;"><img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/100-secure-seal.png" style="width:100px;">&nbsp;<img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/satisfaction-guarantee-seal.png" style="width:100px;"></div>
                </div>
                <!--Section Inner-->
            </div>
            <!--Section 3-->

            <a href="#/upsell-offer2" style="font-size:.7em;" class="inside">No thank you. I do not want to take advantage of this limited time discount offer.</a>


        </div>
        <!--PageContainer Inner-->
        <div id="footer" class="footer row role-element leadstyle-container">
            <div id="footerText" class="footerText role-element leadstyle-text"><div>&#169; Early Moments 2016</div></div>
        </div>
    </div>
</div>
